@model CustomerVM
@{
    ViewData["Title"] = "Create";
}
@section style{
    <style>
        input.form-control.invalidemail {
            border: 1px solid #dc3545;
        }

        input.form-control.validemail {
            border: 1px solid rgba(170, 170, 170, .3);
        }
    </style>
   


}
<div class="col-12">
    <div class="row">
        <!-- Textual inputs start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Add Customer</h4>

                    <form asp-controller="Customer" asp-action="create" method="post">

                       
                        <div class="form-group">
                            <label asp-for="Name" class="col-form-label">Name</label>
                            <input class="form-control" type="text" placeholder="Enter Name" asp-for="Name">
                            <span class="text-danger d-block my-2" asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address" class="col-form-label">Address</label>
                            <input class="form-control" type="text" asp-for=Address placeholder="Enter Address">
                            <span class="text-danger d-block my-2" asp-validation-for="Address"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Email" class="col-form-label">Email</label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Enter Email" id="email">
                            <span class="text-danger d-block my-2" asp-validation-for="Email"></span>
                            <span id="myspanemail" class="text-danger d-block my-2"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Phone" class="col-form-label">Phone</label>
                            <input type="text" asp-for="Phone" class="form-control" placeholder="Enter Phone" id="phone">
                            <span class="text-danger d-block my-2" asp-validation-for="Phone"></span>
                            <span id="myspanphone" class="text-danger d-block my-2"></span>
                        </div>
                        <center>
                            <button class="btn btn-primary" type="submit" id="crt" disabled="disabled">Create</button>
                        </center>

                    </form>
                </div>

            </div>

        </div>
        <!-- Textual inputs end -->
        <!-- Radios start -->
        <!-- button with dropdown end -->
    </div>
</div>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/PhoneAndEmailvalidation.js">
  
  
</script>









