
@{
    ViewData["Title"] = "Index";
 
}

<div class="col-12">
    <div class="row">
        <!-- Textual inputs start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Report</h4>

                    <form>
                        <div class="form-group">
                            <label  class="col-form-label">Date</label>
                            <input class="form-control" type="Date" id="date" >
                        </div>

                     <input type="hidden" name="day" id="day" />
                        <input type="hidden" name="month" id="month" />
                        <input type="hidden" name="year" id="year" />
                   
                        <center>
                            <div class="d-flex justify-content-center " style="gap: 10px;">

                          
                            <a class="btn btn-success submit text-light " id="excel">Excel</a>
                           
                            </div>
                        </center>
                    </form>
                    <div style="overflow-x:auto">


                        <table class="table table-bordered table-striped table-hover " style="margin-top:50px;text-align: center;">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Date</th>
                                <th>Customer Name</th>
                                <th>Waiter Name</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").css("display", "none");
            $("#date").on('input',function(){
               
           
                var date = new Date($('#date').val());
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                $.ajax({
                    url:'/Report/GetData',
                    method:'POST',
                    data:{day:day,month:month,year:year},
                    success:function(result){
                      console.log(result)
                        if (result.orders.length >0){
                            $("tbody").empty();
                            $("table").css("display", "table");
                            for (var i = 0; i < result.orders.length; i++) {
                                 var total= result.orders[i].id;
                                $("tbody").append("<tr><td>" + result.orders[i].id + "</td><td>" + result.orders[i].date.substring(0, 10) + "</td><td>" + result.orders[i].customer.name + "</td><td>" + result.orders[i].worker.name + "</td><td>" +result.total[i]+" $</td></tr>")
                            }
                        }
                            else{
                            $("tbody").empty();
                            $("table").css("display", "table");
                                $("tbody").append("<tr><td colspan='5' style='text-align:center'>No Data</td></tr>");
                            }
                        }
                     
                    

                })
            })
            $("#excel").on('click',function(){

                var date = new Date($('#date').val());
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                $("#day").val(day)
                $("#month").val(month)
                $("#year").val(year);
                $("form").attr("action",'/Report/Excel');
                $("form").submit();

            })
          
        })
    </script>
}

